html, body {
    width: 100px;
  }
  
  .hidden {
    display: none;
  }
  
  
  .button {
    margin: 3% auto;
    padding: 4px;
    text-align: center;
    font-size: 1.5em;
    cursor: pointer;
  }
  
  .start:hover {
    background-color: #CFF2F2;
  }
  
  .start {
    background-color: #E5F2F2;
  }
  
  .stop {
    background-color: #FBFBC9;
  }
  
  .stop:hover {
    background-color: #EAEA9D;
  }
  